/* Vectora Font */
@font-face {
    font-family: Vectora;
    src: url("@assets/fonts/Vectora/VectoraLTStd-Roman.otf") format("opentype");
}

@font-face {
    font-family: Vectora;
    font-weight: bold;
    src: url("@assets/fonts/Vectora/VectoraLTStd-Bold.otf") format("opentype");
}

@font-face {
    font-family: Vectora;
    font-style: italic;
    src: url("@assets/fonts/Vectora/VectoraLTStd-Italic.otf") format("opentype");
}

