

/*
* Some Basic Theme overrides
* --------------------------
*/
body, input, button, select, textarea, h1, h2, h3, h4, h5 {
    letter-spacing: 1px;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

a {
    color: inherit;
    text-decoration: underline;
}

ion-header .icon {
    color: white !important;
}

ion-header .icon.icon--active {
    color: darkorange !important;
}

.loading-md .spinner-crescent circle {
    stroke: rgba(0, 0, 0, 0.5) !important;
}

.rondo-back-button {
    font-size: 28px !important;
}

.header-md::after {
    background-image: none !important;
}

.header-md {
    -webkit-box-shadow: none;
    box-shadow: none;
}
